HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified
STRAPI_TRANSFER_URL=https://cloud.strapi.url/admin
STRAPI_TRANSFER_TOKEN=<TRANSFER_TOKEN>

# Element451 integration
NEXT_PUBLIC_ELEMENT451_URL=https://tstc.api.451.io
# ELEMENT451_URL can be used as an alias if you prefer a non-public env name
ELEMENT451_URL=https://tstc.api.451.io
ELEMENT451_FEATURE_TOKEN=<ELEMENT451_FEATURE_TOKEN>
ELEMENT451_SYNC_ENABLED=true
ELEMENT451_SYNC_CRON=*/30 * * * *
ELEMENT451_REFRESH_LINKED_ENABLED=true
ELEMENT451_REFRESH_LINKED_CRON=*/20 * * * *
ELEMENT451_REFRESH_CONCURRENCY=3